<h2>New product</h2>
            <div class="content">
                <form class="div-style" action="adminproducts.html">
                    <div class="span">
                        Name
                    </div>
                    <div>
                        <input class="input-style" type="text">
                    </div>
                    <div class="span">
                        Description
                    </div>
                    <div>
                        <textarea rows="10" class="textarea-style" type="text" placeholder="Give it a short description"></textarea>
                    </div>
                    <div class="span">
                        Category
                    </div>
                    <div>
                        <input class="input-style" type="text">
                    </div>
                    <input type="button" class="btn2 btncancel" routerLink="/user/product" value="Cancel">
                    <input type="submit" class="btn2 btnsave" value="Save">
                </form>
            </div>