<h2>New user</h2>
            <div class="content">
                <form class="div-style" >
                    <div class="span">
                        First Name
                    </div>
                    <div>
                        <input required class="input-style" type="text" placeholder="First Name" maxlength="20">
                    </div>
                    <div class="span">
                        Last Name
                    </div>
                    <div>
                        <input required class="input-style" type="text" placeholder="Last Name">
                    </div>
                    <div class="span">
                        Email
                    </div>
                    <div>
                        <input required class="input-style" type="text" placeholder="Email">
                    </div>
                    <div class="span">
                        Phone
                    </div>
                    <div>
                        <input required class="input-style" type="text" placeholder="Phone">
                    </div>
                    <div class="span">
                        Role
                    </div>
                    <div>
                        <select class="input-style" placeholder="Select a role">
                            <option>Guest</option>
                            <option>Tech</option>
                            <option>Admin</option>
                        </select>
                    </div>
                    <div class="span">
                        Username
                    </div>
                    <div>
                        <input required class="input-style" type="text" placeholder="Username">
                    </div>
                    <div class="span">
                        Password
                    </div>
                    <div>
                        <input required class="input-style" type="text" placeholder="Password">
                    </div>
                    <input type="button" class="btn2 btncancel" routerLink="/user/management" value="Cancel">
                    <input type="submit" class="btn2 btnsave" value="Save">
                </form>
            </div>