<h2>Explore ticket</h2>
            <div *ngIf="loading; else Content" class="boxSpinner">
                <span class="spinner"></span>
            </div>
        <ng-template #Content>
            <div class="content">
                <form class="newticket-div" >
                    <div class="span">
                        Id Ticket
                    </div>
                    <div>
                        <div class="input-style">
                            {{ticket.id}}
                        </div> 
                    </div>
                    <div class="span">
                        Status
                    </div>
                    <div>
                        <div class="input-style">
                            {{ticket.status}}
                        </div> 
                    </div>
                    <div class="span">
                        Open date
                    </div>
                    <div>
                        <div class="input-style">
                            {{ticket.openDate | date: 'yy:MM:dd HH:mm'}}
                        </div> 
                    </div>
                    <div class="span">
                        Product Name
                    </div>
                    <div>
                        <div class="input-style">
                            {{ticket.productName}}
                        </div> 
                    </div>
                    <div class="span">
                        Ticket Description
                    </div>
                    <div>
                        <div class="textarea-style">
                            {{ticket.description}}
                        </div> 
                    </div>
                    <div class="span">
                        Chat
                    </div>
                    <div class="chat-div">
                        <div disabled rows="10" class="boxChat" type="text" >
                            <ul>
                                <li>
                                    <h5>Guest Adam</h5>
                                    <p>Message message</p>
                                    <span>2021-21-9 7:28</span>
                                </li>
                                <li>
                                    <h5>Tech Karam</h5>
                                    <p>Message message</p>
                                    <span>2021-21-9 7:28</span>
                                </li>
                            </ul>
                        </div>
                        <input class="inputchat-style" type="text" placeholder="type a message here">
                        <span class="btnsent">
                            <a>Sent <i class="fas fa-paper-plane"></i></a>
                        </span>
                    </div>
                    <input type="button" class="btn2 btncancel" routerLink="/user/ticket/listTicket" value="Close">
                </form>
            </div>
        </ng-template>