 <div class="container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h2>Login</h2>
          <div class="txt">
              Username:
          </div>
          <div>
              <input class="input" type="text" formControlName="username" placeholder="Username" >
          </div>
          <div class="txt">
              Password:
          </div>
          <div>
              <input class="input" type="password" formControlName="password" placeholder="Password">
          </div>
          <a class="txt" routerLink="/register">Register here</a>
          <input [disabled]="!loginForm.valid" type="submit" class="btn" value="Submit">
          <div *ngIf="error" class="error-feedback">{{error}}</div>
      </form>
  </div>
