 <div class="container">
      <form action="tickets.html">
          <h2>Login</h2>
          <div class="txt">
              Username:
          </div>
          <div>
              <input class="input" type="text" placeholder="Username" maxlength="20">
          </div>
          <div class="txt">
              Password:
          </div>
          <div>
              <input class="input" type="password" placeholder="Password">
          </div>
          <a class="txt" routerLink="/register">Register here</a>
          <input type="submit" class="btn" value="Submit">
      </form>
  </div>
