<h2>Explore ticket</h2>
            <div class="content">
                <form class="newticket-div" >
                    <div class="span">
                        Id
                    </div>
                    <div>
                        <input class="input-style" disabled type="text">
                    </div>
                    <div class="span">
                        Status
                    </div>
                    <div>
                        <select class="input-style">
                            <option>Open</option>
                            <option>Close</option>
                        </select>
                    </div>
                    <div class="span">
                        Open date
                    </div>
                    <div>
                        <input class="input-style" type="datetime-local">
                    </div>
                    <div class="span">
                        Product
                    </div>
                    <div>
                        <select class="input-style">
                            <option selected>Select a product</option>
                        </select>
                    </div>
                    <div class="span">
                        Ticket Description
                    </div>
                    <div>
                        <textarea rows="10" class="textarea-style" type="text" placeholder="Give it a short description"></textarea>
                    </div>
                    <div class="span">
                        Chat
                    </div>
                    <div class="chat-div">
                        <textarea disabled rows="10" class="textareachat-style" type="text" ></textarea>
                        <input class="inputchat-style" type="text" placeholder="type a message here">
                        <span class="btnsent">
                            <a>Sent <i class="fas fa-paper-plane"></i></a>
                        </span>
                    </div>
                    <input type="button" class="btn2 btncancel" routerLink="/user/ticket" value="Close">
                </form>
            </div>