<div class="head">
    <button type="button" class="btn">
        <i class="fas fa-plus"></i> 
        Add New
    </button>
    <div class="input-div">
        <div class="icon">
            <i class="fas fa-search"></i>
        </div>
        <div>
           <input class="input-search" type="text" placeholder="Search ..." maxlength="50">
        </div>
     </div>
<div>
<table>
    <thead>
        <tr>
          <th width="14%">UserAccountId</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Phone</th>
          <th width="14%">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Elmehdi</td>
            <td>AMLOU</td>
            <td>amlouelmehdi@gmail.com</td>
            <td>123</td>
            <td>
              <button type="button" class="btnico edit">
                <i class="fas fa-pen"></i>
              </button>
              <button type="button" class="btnico delete">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
        </tr>
    </tbody>
 </table>
</div>
</div>